<h1>Edit Previous Post</h1>

<%= form_for Post.new do |f| %> 

    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <br>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <br>
    <br>
    <%= f.submit "Save" %>

    <br><br>
    <div class="center">
        <%= link_to "Delete Post", post_path(current_user) %>     
    </div>

<% end %>




