<h1>Create a New Post</h1>


<div class="row">
  <div class="col-md-5 col-md-offset-3">

    <%= form_for([current_user, @post]) do |f| %>
      <br>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <br>

      <br>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_field :content %>
      </div>
      <br>
      
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <br><br>

        <div class="center">
            <%= link_to "All Posts", user_posts_path(current_user) %>   
        </div>

    <% end %>
  </div>
</div>

